@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    padding: 20px 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin: 0 20%;
}

i{
    color: #D13E3E;
}

#navbar{
    display: flex;
    gap: 20px;
}

a{
    color: #D13E3E;
    font-size: 30px;
    padding: 13px;
    transition: 0.4s;
    border-radius: 15px;
    font-family: "Dancing Script", cursive;
    font-weight: 500;
}



#logo-title{
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    font-weight: 600;
}

p{
    color: #A48888;
    font-size: 20px;
}

#container-photo{
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo{
    width: 50px;
}

body{
    background-color: #fff;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#container{
    display: flex;
    align-items: center;
    gap: 150px;
}

#container-el{
    border-radius: 8px;
    padding: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#title{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    color: #D13E3E;
    font-size: 50px;
    margin-bottom: 20px;
}

p{
    color: #504242;
    font-size: 18px;
}

#main-img{
    width: 500px;
}