*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
    box-sizing: border-box;
}

body{
    background-color: #333333;
}

ul{
    list-style: none;
}

header{
    padding: 1rem 0;
    background-color: #ed3333;
}

nav a{
    text-decoration: none;
    color: #000;
    transition: 0.4s;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.1rem;
}

nav a:hover{
    background-color: #D98E04;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

#navbar{
    display: flex;
    gap: 2rem;
}

#logo{
    width: 150px;
}

main{
    margin: 3rem 1rem;
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-img img{
    width: 900px;
}

#container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 20px;
}

#container-description ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#container-description p, li{
    font-size: 1.5rem;
    color: #dfdcdc;
}